/* Fix bug in LiteMol where static has no static position. */
.lm-plugin .lm-layout-static {
    position: static;
}

.lm-plugin, .lm-plugin .lm-layout-region {
    /* By default the background is black we need to choose another color. */
    background-color: rgb(231, 231, 231);
}

.lm-plugin .lm-layout-standard-landscape .lm-layout-top {
    /* And disable the bottom border line. */
    border: none;
}

/* On small devices the LiteMol can span whole display and then
  it is not possible to scroll, so we add a strip on the right side */
@media (max-width: 991px) {
    .lm-plugin .lm-layout-main {
        margin-right: 4em;
    }
}
