#analyze {
    margin: 0;
    height: calc(100vh - 68px);
}

#message {
    display: none;
}

#footer {
    display: block;
}

#application-molstar {
    position: relative;
    height: 55vh;
    width: 100%;
}

#visualization-toolbox {
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

#application-rcsb {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(30vh - 68px);
    margin-bottom: 10px;
}

#application-rcsb::-webkit-scrollbar {
    height: 5px; /* horizontal scrollbar */
    width: 5px; /* vertical scrollbar */
}

#application-rcsb::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#application-rcsb::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#application-rcsb::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#information {
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 767px) {
    #application-rcsb {
        height: auto;
        padding-bottom: 10%; /* to ensure there is at least some space for horizontal scrolling */
    }

    #analyze {
        position: relative;
        height: auto;
    }

    #application-molstar {
        position: relative;
        bottom: auto;
    }
}

#navigation {
    max-width: none;
}
